# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

cmake-build-debug/
cmake-build-debug
build/

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake


#CLion folder
.idea/

#OS X DS_Store files
.DS_Store

#ARM and local system shell script Build folders
build_arm/
build_sys/
db/

#If you edit, or view, a file in Visual Studio in open folder mode it creates files in a .vs folder to keep track
.vs/

#VS Code
.vscode/
